services:
  dns_updater:
    image: tutkowskim/dns-updater:2026.01.11.0127
    container_name: DnsUpdater
    environment:
      - PORT=8080
      - SENTRY_DSN=${DNS_UPDATER_SENTRY_DSN}
      - AWS_REGION=${DNS_UPDATER_AWS_REGION}
      - AWS_ACCESS_KEY_ID=${DNS_UPDATER_AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${DNS_UPDATER_AWS_SECRET_ACCESS_KEY}
      - HOSTED_ZONE_ID=${DNS_UPDATER_HOSTED_ZONE_ID}
      - RECORD_NAME=${DNS_UPDATER_RECORD_NAME}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped
  the_voice:
    image: tutkowskim/the-voice:2026.01.11.0126
    container_name: TheVoice
    environment:
      - SENTRY_DSN=${THE_VOICE_SENTRY_DSN}
      - TOKEN=${THE_VOICE_TOKEN}
      - OPENAI_API_KEY=${THE_VOICE_OPENAI_API_KEY}
      - OPENAI_MODEL=gpt-5.2
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4567/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped
  pihole: # More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      # DNS Ports
      - "53:53/tcp"
      - "53:53/udp"
      # Default HTTP Port
      - "80:80/tcp"
      # Default HTTPs Port. FTL will generate a self-signed certificate
      - "443:443/tcp"
      # Uncomment the line below if you are using Pi-hole as your DHCP server
      - "67:67/udp"
      # Uncomment the line below if you are using Pi-hole as your NTP server
      - "123:123/udp"
    environment:
      # Set the appropriate timezone for your location (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones), e.g:
      TZ: 'America/Los_Angeles'
      # Set a password to access the web interface. Not setting one will result in a random password being assigned
      FTLCONF_webserver_api_password: ${PIHOLE_API_PASSWORD}
      # If using Docker's default `bridge` network setting the dns listening mode should be set to 'ALL'
      FTLCONF_dns_listeningMode: 'ALL'
    # Volumes store your data between container upgrades
    volumes:
      # For persisting Pi-hole's databases and common configuration file
      - './etc-pihole:/etc/pihole'
      # Uncomment the below if you have custom dnsmasq config files that you want to persist. Not needed for most starting fresh with Pi-hole v6. If you're upgrading from v5 you and have used this directory before, you should keep it enabled for the first v6 container start to allow for a complete migration. It can be removed afterwards. Needs environment variable FTLCONF_misc_etc_dnsmasq_d: 'true'
      #- './etc-dnsmasq.d:/etc/dnsmasq.d'
    cap_add:
      # See https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
      # Required if you are using Pi-hole as your DHCP server, else not needed
      - NET_ADMIN
      # Required if you are using Pi-hole as your NTP client to be able to set the host's system time
      - SYS_TIME
      # Optional, if Pi-hole should get some more processing time
      - SYS_NICE
    restart: unless-stopped
