global:
  scrape_interval: 1m
scrape_configs:
  - job_name: 'alloy'
    static_configs:
      - targets: ['alloy:9464']
  - job_name: 'pihole'
    static_configs:
      - targets: ['pihole-exporter:9617']
  - job_name: 'node'
    static_configs:
      - targets: ['node-exporter:9100']
